<% provide(:title, "edit user") %> 
<h1>update your profile</h1>


  <div class="card signup" >
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name, "name:" %>
      <%= f.text_field :name %>

      <%= f.label :email, "email:" %>
      <%= f.text_field :email %>

      <%= f.label :password, "choose a password:" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "confirm password:" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "save changes", class: "btn btn-primary btn-large", style:"float:right" %>
    <% end %>
  
  </div>
