<% provide(:title, 'try') %>
<!DOCTYPE html>
<html>
<head>
  <title>Pale Fire | <%= yield(:title) %></title>
</head>
<body>
  <h1>try Pale Fire</h1>



<div class="row">


  
  <div class="card signup" >


    <%= form_for(@user) do |f| %>
    

      <%= f.label :name, "name:" %>
      <%= f.text_field :name, autofocus: true %>

      <%= f.label :email, "email:"  %>
      <%= f.text_field :email %>
      
      <%= f.label :password, "choose a password:" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "confirm password:" %>
      <%= f.password_field :password_confirmation %>

      <br>

      <div style="float: right">
        <%= f.submit "create account", class: "btn btn-large btn-primary" %>
      </div>
      
    <% end %>
<br>
<div style="float: right">
  
  or <%= link_to "sign in", signin_path %>

</div>

  </div>
    <div class="float-right">
        <%= render 'shared/error_messages' %>
    </div>
    
</div>




</body>
</html>