<li>

 

  <div class="card project-card">

    <br><br>

    <%= link_to content_tag(:span), project_path(project) %>
    
    <div class="project-title">
      <%= project.title %>
    </div>

    <div class="project-info">
      
      started <%= time_ago_in_words(project.created_at) %> ago </br>
      
      last updated <%= time_ago_in_words(project.updated) %> ago </br>

      (<%= pluralize(project.num_stacks, 'stack') %>)
    </div>

    <div class="links project-link">
    <%= link_to 'delete project', project,  method: :delete, data: { confirm: 'This will destroy all cards and all stacks in the project.' } %>
  </div>


  </div>

   

</li>






