<li>


  <div class="card project-card center">

    <br><br>

    <%= link_to content_tag(:span), project_path(project) %>
    
    <div class="project-title">
      <%= project.title %>
    </div>

    <div class="timestamp">
      (stacks: <%= project.num_stacks %>) </br>
      
      started <%= time_ago_in_words(project.created_at) %> ago |
      
      last updated <%#= time_ago_in_words(project.cards.first.updated_at) %> ago </br>
    </div>

  </div>

  <div class="links project-info">
    <%= link_to 'delete project', project,  method: :delete, data: { confirm: 'This will destroy all cards and all stacks in the project.' } %>
  </div>


</li>






