<li>
  <%= stack.cards.first.writing %>
  <%= link_to 'revise...', edit_card_path(stack.cards.first)  %> |
  <% if stack.multi? %>
    <%= link_to 'see different versions', stack_path(stack) %>
    (<%= stack.cards.count - 1 %>) |
  <% end %>
  <%= link_to 'destroy stack', stack, method: :delete, data: { confirm: 'Are you certain?' } %>
</li>