
<p>click on any part of the text to switch to card/editing view:</p>

<div class="whole-text"> 

  <div class="whole-text-title"><%= @project.title %></div>

  <div class="whole-text-description">
    <%= @project.description_short %>
  </div><br/>


  <ul id="texts" data-update-url="<%= sort_stacks_url %>">
    <%= render partial: 'card_text', collection: @project.stacks %>
  </ul>
</div>

Draft:


<%= render 'draft' %>

