<li>

  <div class= 'card writing version <%='pick' if card.pick %>' >
    <% unless card.pick %>
      <%= button_to 'select version', card, controller: :cards, :action => "choose" %>
    <% end %>
    <%= card.writing %>
    <%= link_to 'revise', edit_card_path(card) %> |
    <%= link_to 'destroy version', card, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
</li>
