
<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    
     <%= f.label :writing, 'revise card:' %>
   <div class="hero-unit writing">
   
    <%= f.text_area :writing, class: "card-area", autofocus: true %>


  
  <div class="actions">
    <%= f.submit "keep version" %>
  </div>

   </div>

<% end %>


