<%= form_for(@card, remote: false) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   
  <%= f.label :writing, 'write & revise:' %> 
  <div>
    <%= f.text_area :writing, class: "card writing current_card", style: " border: solid #BFBABA 5px;", autofocus: true %>
    <span id="update_msg"></span>
  </div>

  <div class="actions keep-btn btn">
    <%#= f.submit "keep version", class: "keep-btn" %>
    keep version
  </div>



<% end %>