<div class="links", style="margin-left: -20">

<h1><%= link_to @project.title, project_path(@project) %></h1>

<div>
  <% if @current_stack == @project.stacks.last %>
    <div style="float:right; margin-top: -50px;">
      <%= render 'stacks/form' %>
    </div>
  <% else %>
    <%= link_to '>>', edit_card_path(@next_card), style:"float: right" %>
  <% end %>
  <% unless @current_stack == @project.stacks.first %>
    <%=  link_to '<<', edit_card_path(@prev_card), style:"float: left" %>
  <% end %>
</div>

<div class="row", style="clear: both">

<div class="span6", style="margin-top: 5px">
  <% unless @current_stack == @project.stacks.first %>
  <%= render 'prev_card' %> 
  <% end %>
</div>


  <div class="span5", style="margin-left: 50px">
   <%= render 'form' %>
   
   
  </div>

</div>